<div class = "username">
<h1><%= current_user.full_name %></h1>
<h2><%= current_user.email %></h2>
<h3><%= current_user.current_city %></h3>
<button type="button">Edit {{user.full_name}}!</button>
</div>