
<div class="hero-section">
  <div class="hero-section-text">
    <h1 class='title'>Nomad</h1>
    <h5 class='quote'>Not all those who wander are lost</h5>
  </div>
</div>

<div class="featured-image-block-grid, center">
    <h2>Top Destinations</h2>
    <p>Start planning your travels here with the latest deals for popular destinations.</p>
  <div class="row large-up-4 small-up-2">
    <div class="featured-image-block column">
     <a href="#">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuC50N6sReL9QrtxT1lWxmOjXo8itzYfl9oeeCFHI6X7FFzLHc"/>
        <p class="text-center featured-image-block-title">Atlanta</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=693" />
        <p class="text-center featured-image-block-title">San Francisco</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=452" />
        <p class="text-center featured-image-block-title">Las Vegas</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=792" />
        <p class="text-center featured-image-block-title">Sacramento</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=667" />
        <p class="text-center featured-image-block-title">Los Angeles</p>
      </a>
    </div>
  
    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=249" />
        <p class="text-center featured-image-block-title">Chicago</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=382" />
        <p class="text-center featured-image-block-title">Boston</p>
      </a>
    </div>

       <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=899" />
        <p class="text-center featured-image-block-title">New York</p>
      </a>
    </div>
  </div>
</div>


