
<div class="hero-section">
  <div class="hero-section-text">
    <h1 class='title'>Nomad</h1>
    <h5 class='quote'>Not all those who wander are lost</h5>
  </div>
</div>

<div class="featured-image-block-grid, center">
    <h2>Top Destinations</h2>
    <p>Start planning your travels here with the latest deals for popular destinations.</p>
  <div class="row large-up-4 small-up-2">
    <div class="featured-image-block column">
     <a href="/cities/1">
        <img src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=etSioWoL4MEctuS6Ye9gr17lkyI%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6nlh8Tw1It6a2FowGz60oISIfYC2G8G2f1spyfNT-tdoDSf7KhsgUbfCgBhlI_IfnwEXO5H9T8VtH6f6oWnpWTd-m8UQASZjY91EVm6vh-az8whZaCNK6jRGhBwO0FPGrvELjPRXELMiE8z-GZCquKJUsg7HCufemkS-9df4F28dh_0Q5gppTNMv880ItlxzA_72qo2bzyJzM-wqaGWGObDgUsKE3WLe4SqIqByBmYumrWtWXUgMKACfmbFa4Z6Hya89TxXUrSpnRlgVFPixAakt9vOFiEgM8cvE61buAHdAnemsvBHHGnz7gxtwg-6u2mPwbudVM7pQJFT7f87mYiH6_O"/>
        <p class="text-center featured-image-block-title">Atlanta</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="/cities/2">
        <img src="https://unsplash.it/600/440?image=693" />
        <p class="text-center featured-image-block-title">San Francisco</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="/cities/3">
        <img src="https://unsplash.it/600/440?image=452" />
        <p class="text-center featured-image-block-title">Las Vegas</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="/cities/4">
        <img src="https://unsplash.it/600/440?image=792" />
        <p class="text-center featured-image-block-title">Sacramento</p>
      </a>
    </div>
    
    <!--<div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=667" />
        <p class="text-center featured-image-block-title">Los Angeles</p>
      </a>
    </div>
  
    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=249" />
        <p class="text-center featured-image-block-title">Chicago</p>
      </a>
    </div>
    
    <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=382" />
        <p class="text-center featured-image-block-title">Boston</p>
      </a>
    </div>

       <div class="featured-image-block column">
     <a href="#">
        <img src="https://unsplash.it/600/440?image=899" />
        <p class="text-center featured-image-block-title">New York</p>
      </a>
    </div>-->
  </div>
</div>


